<!DOCTYPE html>
<html>
    <head>
        <title>Lift AR</title>
        <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
        <script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.0/aframe/build/aframe-ar.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script> 
        <script src="https://raw.githubusercontent.com/jhuckaby/webcamjs/master/webcam.min.js"></script>
        <script type="text/javascript">
            
            var count = 1;
           
            function get_weight() {
                var element = document.getElementById("ar_text");
                if(window.count == 1)
                {
                    element.setAttribute("value", "Click Again!");
                    window.count = 0;
                }
                else if(count == 0){
                    element.setAttribute("value", "Click Me!")
                    window.count = 1;
                }
                getImage();
            }
            
            function getImage()
            {
                $("#file1").trigger("click");
                $("#file1").trigger("click");
                $("#main_form").submit();
            }

        </script> 
    </head>

    <body style='margin : 0px; overflow: hidden;' onclick="get_weight();">
        <a-scene embedded arjs>
            <a-marker preset="hiro">
                <a-text value="Click Me!." color="black" id="ar_text"></a-text> 
                <!-- <a-box position='0 0.5 0' material='color: black;'></a-box> -->
            </a-marker>
            <a-entity camera></a-entity>
        </a-scene>
        <div style="width: 0px; height: 0px; opacity: 0;">
            <form method="POST" enctype="multipart/form-data" action="https://52.230.83.128" id="main_form"> {% csrf_token %}
                <input type='file' name='file1' id="file1">
                <input type='file' name='file2' id="file1">
                <input type="text" value="ar" name="filename">
                <input type="submit" value='Submit'>
            </form>
        </div>
    </body>
</html>