<!DOCTYPE html>
<html>
    <head>
        <title>Lift AR</title>
        <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
        <script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.0/aframe/build/aframe-ar.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script> 
        <script type="text/javascript">
            /*
            var count = 0;
            var file1 = null;
            function get_weight() {
                var element = document.getElementById("ar_text");
                element.setAttribute("visible", "false");
                screenshot();
                element.setAttribute("visible", "true");
                if(window.count == 1)
                    element.setAttribute("value", "Click the next picture");
                else
                    element.setAttribute("value", "Click Me!")
            }
            
            function screenshot()
            {
                html2canvas(document.body).then(function(canvas) {
                    document.body.appendChild(canvas);
                    var url = canvas.toDataURL();
                    var blobBin = atob(dataURL.split(',')[1]);
                    var array = [];
                    for(var i = 0; i < blobBin.length; i++) {
                        array.push(blobBin.charCodeAt(i));
                    }
                    var file = new Blob([new Uint8Array(array)], {type: 'image/png'});
                    if(window.count == 0)
                    {
                        window.file1 = file;
                        window.count++;
                        return;
                    } else {
                        var formdata = new FormData();
                        formdata.append("file2", file);
                        formdata.append("file1", file1);
                        alert("hello");
                        $.ajax({
                            url: "http://52.230.83.128",
                            type: "POST",
                            data: formdata,
                            processData: false,
                            contentType: false,
                        }).done(function(respond){
                            alert(respond);
                        });
                        window.file1 = null;
                        window.count = 0;
                    }
                });
            } */
            
            function takeScreenshot() {
                var w = window.open('', '');
                w.document.title = "Screenshot";
                var img = new Image();
                var secondImg = new Image();
                renderer.render(scene, camera);
                var doubleImageCanvas = document.getElementById('doubleImage');
                var context = doubleImageCanvas.getContext('2d');
                var sources = {
                    firstImage: renderer.domElement.toDataURL("image/png"),
                    secondImage: arToolkitContext.arController.canvas.toDataURL("image/png")
                };

                loadImages(sources, function(images){
                    context.drawImage(images.secondImage, 0, 0);
                    context.drawImage(images.firstImage, 0, 0);
                    img.src = doubleImageCanvas.toDataURL("image/png");
                    w.document.body.appendChild(img);
                });
            }

            function loadImages(sources, callback) {
                var images = {};
                var loadedImages = 0;
                var numImages = 0;
                // get num of sources
                for (var src in sources) {
                    numImages++;
                }
                for (var src in sources) {
                    images[src] = new Image();
                    images[src].onload = function () {
                        if (++loadedImages >= numImages) {
                            callback(images);
                        }
                    };
                    images[src].src = sources[src];
                }
            } 
        </script> 
    </head>

    <body style='margin : 0px; overflow: hidden;' onclick="takeScreenshot();">
        <a-scene embedded arjs>
            <a-marker preset="hiro">
                <a-text value="Click Me!." color="black" scale="1.5 1.5 1.5" id="ar_text"></a-text> 
                <!-- <a-box position='0 0.5 0' material='color: black;'></a-box> -->
            </a-marker>
            <a-entity camera></a-entity>
        </a-scene>
        <canvas width='640' height='480' style='visibility:hidden;' id='doubleImage'></canvas>
    </body>
</html>