<!DOCTYPE html>
<html>
    <head>
        <title>Lift AR</title>
        <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
        <script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.0/aframe/build/aframe-ar.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script> 
        <script src="https://raw.githubusercontent.com/jhuckaby/webcamjs/master/webcam.min.js"></script>
        <script type="text/javascript">
            
            var count = 0;
            var file1 = null;
            var video = document.getElementById("my_camera");
            navigator.getUserMedia({video: true}, function(stream) {
                video.src = stream;
            });
           
            function get_weight() {
                var element = document.getElementById("ar_text");
                element.setAttribute("visible", "false");
                screenshot();
                element.setAttribute("visible", "true");
                if(window.count == 1)
                    element.setAttribute("value", "Click the next picture");
                else
                    element.setAttribute("value", "Click Me!")
            }
            
            function screenshot()
            {
                alert("screenshot");
            
                    var canvas = document.getElementById('viewport'),
                    context = canvas.getContext('2d');
                    context.drawImage(video, 0, 0, 300, 300, 0, 0, 300, 300);
                    alert("canvas done");
                    var url = canvas.toDataURL();
                    alert("url done");
                    if(window.count == 0)
                    {
                        window.file1 = url;
                        window.count++;
                        alert("count done");
                        return;
                    } else {
                        $.ajax({
                            url: "http://52.230.83.128",
                            type: "POST",
                            data: {file1 : file1, file2 : url},
                            processData: false,
                            contentType: false,

                        }).done(function(respond){
                            alert(respond);
                        });
                        alert("ajax done");
                        window.file1 = null;
                        window.count = 0;
                    }
            }
            /*
            function takeScreenshot() {
                var w = window.open('', '');
                w.document.title = "Screenshot";
                var img = new Image();
                var secondImg = new Image();
                renderer.render(scene, camera);
                var doubleImageCanvas = document.getElementById('doubleImage');
                var context = doubleImageCanvas.getContext('2d');
                var sources = {
                    firstImage: renderer.domElement.toDataURL("image/png"),
                    secondImage: arToolkitContext.arController.canvas.toDataURL("image/png")
                };

                loadImages(sources, function(images){
                    context.drawImage(images.secondImage, 0, 0);
                    context.drawImage(images.firstImage, 0, 0);
                    img.src = doubleImageCanvas.toDataURL("image/png");
                    w.document.body.appendChild(img);
                });
            }

            function loadImages(sources, callback) {
                var images = {};
                var loadedImages = 0;
                var numImages = 0;
                // get num of sources
                for (var src in sources) {
                    numImages++;
                }
                for (var src in sources) {
                    images[src] = new Image();
                    images[src].onload = function () {
                        if (++loadedImages >= numImages) {
                            callback(images);
                        }
                    };
                    images[src].src = sources[src];
                }
            }  */
        </script> 
    </head>

    <body style='margin : 0px; overflow: hidden;' onclick="get_weight();">
        <a-scene embedded arjs>
            <a-marker preset="hiro">
                <a-text value="Click Me!." color="black" scale="1.5 1.5 1.5" id="ar_text"></a-text> 
                <!-- <a-box position='0 0.5 0' material='color: black;'></a-box> -->
            </a-marker>
            <a-entity camera></a-entity>
        </a-scene>
        <video id="my_camera" style="visibility: hidden;"></video>
        <canvas id="viewport" style="visibility: hidden;"></canvas>
    </body>
</html>