{% extends 'main/base.html' %}
{% block mainBlock %}

    <header class="intro-header">
        <div class="container">
          <div class="intro-message">
            <h1 id="intro-name">Lift</h1>
            <h3 style="font-weight: lighter;">You don't have to lift to fly!</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li class="list-inline-item">
                  <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i> &nbsp;Upload Image 1 : <input type='file' name='file1' class="form-control"></p>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp; Upload Image 2 : <input type='file' name='file2' class="form-control"></p>
                    <br>
                    <input type="submit" class='btn btn-success btn-block' value='Submit' style="background-color: RGBA(0, 168, 122, 1.00); font-weight: bold;">
                  </form>
              </li>
            </ul>
            <h4 style="font-weight: lighter;">Read the instructions <a href='#about'>below</a>!</h4>
          </div>
        </div>
    </header>

    <section class="content-section-a" id='about'>
      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">How to use?!<br></h2>
            <p class="lead">Just click photos of the object from two directions, choose options, and DONE!</p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="img-fluid" src="img/boxescom.jpeg" alt="">
          </div>
        </div>
      </div>
    </section>

{% endblock %}
