{% extends 'main/base.html' %}
{% block mainBlock %}

    <header class="intro-header">
        <div class="container">
          <div class="intro-message">
            <h1 id="intro-name">Lift</h1>
            <h3 style="font-weight: lighter;">Your light weight, weight calculator!</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li class="list-inline-item">
                  <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i> &nbsp;Upload Image 1 <input type='file' name='file1' class="form-control"></p>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp; Upload Image 2 <input type='file' name='file2' class="form-control"></p>
                    <br>
                    <input style="visibility: hidden;" type="text" name="filename" value="index">
                    <input type="submit" class='btn btn-success btn-block' value='Submit' style="background-color: RGBA(0, 168, 122, 1.00); font-weight: bold;">
                  </form>
              </li>
            </ul>
            <h4 style="font-weight: lighter;">Read the instructions <a href='#about'>below</a>!</h4>
          </div>
        </div>
    </header>

    <section class="content-section-a" id='about'>
      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading" style="color : ">How to use this?!<br></h2>
            <ol>
                <li>Make sure the background you are uploading photos on, is plain. Textured and multicoloured backgrounds can lead to erraneous results.</li>
                <li>Keep an A4 sized paper on the leftmost side (for comparison), and click the photo of the luggage from the top (90 degrees).</li>
                <li>Now click the photo of the object from the side, again keeping an A4 size paper with it (leftmost side of the photo) for comparison.</li>
                <li>Upload the two photos, and click on the Submit button.</li>
            </ol>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="img-fluid" src="img/boxescom.jpeg" alt="">
          </div>
        </div>
      </div>
    </section>

{% endblock %}
